<div id="<%= dom_id pessoa %>">
  <p>
    <strong>Rg:</strong>
    <%= pessoa.rg %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= pessoa.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= pessoa.idade %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= pessoa.cidade %>
  </p>

</div>
