<div id="<%= dom_id carro %>">
  <p>
    <strong>Crv:</strong>
    <%= carro.crv %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= carro.nome %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= carro.marca %>
  </p>

  <p>
    <strong>Pessoa:</strong>
    <%= carro.pessoa.nome %>
  </p>

</div>
