<%= form_with(model: disciplinas_pessoa) do |form| %>
  <% if disciplinas_pessoa.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(disciplinas_pessoa.errors.count, "error") %> prohibited this disciplinas_pessoa from being saved:</h2>

      <ul>
        <% disciplinas_pessoa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rg, style: "display: block" %>
    <%= form.text_field :rg, name: 'disciplinas_pessoa[rg]' %>
  </div>

  <div>
    <%= form.label :codigo, style: "display: block" %>
    <%= form.text_field :codigo, name: 'disciplinas_pessoa[codigo]' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
